<div id="installModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50 backdrop-blur-sm">
  <div class="flex items-center justify-center min-h-screen">
    <div role="dialog" aria-modal="true" aria-labelledby="modalTitle" class="relative mx-auto p-5 w-full max-w-md shadow-xl rounded-md bg-white dark:bg-gray-700 transition duration-300 ease-in-out">
      <div class="text-center">
        <h3 id="modalTitle" class="text-lg leading-6 font-medium text-gray-900 dark:text-white">
          Uygulamamızı Yükleyin
        </h3>
        <div class="mt-2 px-7 py-3">
          <p class="text-sm text-gray-500 dark:text-gray-200">
            Uygulama olarak kullanmanız çok daha efektif olacaktır.
          </p>
        </div>
        <div class="mt-4 flex justify-center gap-4">
          <button id="confirmInstall" class="px-4 py-2 bg-orange-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-orange-800 focus:outline-none focus:ring-2 focus:ring-orange-500 transition duration-150 ease-in-out">
            Yükle
          </button>
          <button id="cancelInstall" class="px-4 py-2 bg-white text-blue-700 text-base font-medium rounded-md shadow-sm hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-150 ease-in-out">
            Sonra
          </button>
        </div>
      </div>
      <div class="absolute top-0 right-0 pt-4 pr-4">
        <button id="closeModal" aria-label="Close" class="text-gray-400 hover:text-gray-500 dark:hover:text-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div> 