---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="tr">
  <head>
    <BaseHead />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-7F9BYNKV37");
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7830476062350216"
     crossorigin="anonymous"></script>
  </head>

  <body
    class="min-h-screen p-4 bg-gradient-to-r from-indigo-50 to-indigo-100 dark:from-gray-800 dark:to-gray-900"
  >
    <slot />
  </body>
</html>
