---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="tr">
  <head>
    <BaseHead />
  </head>

  <body
    class="min-h-screen p-4 bg-gradient-to-r from-indigo-50 to-indigo-100 dark:from-gray-800 dark:to-gray-900"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NBG4W6DN"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <slot />
  </body>
</html>
